a {
  text-decoration: none;
}

.pikapok__header {
  text-align: center;
}

.pikapok__header-nav {
  color: #297abc;
  border-top: 12px solid #cfe6f6;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}
.pikapok__menu {
  display: inline-block;
  vertical-align: middle;
}

.pikapok__menus a {
  text-decoration: none;
}

#hamburger-menus {
  font-size: 22px;
}

@media (max-width: 600px) {
  .pikapok__content-nav {
    display: none;
  }
  .pikapok__nav-menu {
    font-size: 20px;
    padding-top: 20px;
    color: #4a9cd8;
  }
  .pikapok__nav-menu::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px;
    background: black;
  }
}

@media (min-width: 601px) {
  .pikapok__nav-menu {
    display: inline-block;

  }

  .pikapok__content-nav {
    color: #297abc;
    border-bottom: 12px solid #22ade4;
    padding-top: 15px;
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .pikapok__content-nav > div {
    margin-left: 2.5px;
    margin-right: 2.5px;
    vertical-align: middle;
  }
  .pikapok__red-circle-divider {
    background-color: #ed343a;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    display: inline-block;
  }
}


.pikapok__logo img {
  width:100%;
  max-width: 240px;
  height: auto;
}

.nav_active {
  color:red;
}

.pikapok__carousel {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.pikapok__categories {
  max-width: 1200px;
  margin: 0 auto;
}

.pikapok__category {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}
.pikapok__category img {
  width: 100%;
}

.pikapok__poke_now,
.pikapok__before-footer {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.pikapok__poke_now > img,
.pikapok__before-footer > img {
  width: 100%;
  max-width: 1200px;
}

.pikapok__footer {
  padding: 60px 85px 25px;
  color: #375881;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column-header {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-column-menu {
  display: block;
  font-size: 16px;
  line-height: 28px;
}

.footer-payment-icon {
  line-height: 28px;
  width: 150px;
  text-align: center;
}

.footer-payment img:first-child {
  display: block;
  margin: 0 auto;
  width: 72px;
  margin-bottom: 8px;
}

.footer-payment-icon img {
  width: 48px;
  display: inline-block;
  margin: 5px 7px;
}

.footer-social {
  text-align: center;
}

.footer-social-logo {
  width: 178px;
  height: 55px;
  margin-bottom: 12px;
}

.footer-social-icons img {
  display: inline-block;
  padding-left: 8px;
}

.social-icon-facebook {
  width: 20px;
}

.social-icon-twitter {
  width: 35px;
}



/* Categories.html  */
.row .thumbnail img .single-img {
  width: 380px;
  height: 376px;
}
.categories-header {
  color: #459cd8;
}

/* Product.html  */
.separate-content {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.product-show {
}
.product-header-text {
  color: #4a9cd8;
  font-size: 52px;
  font-weight: 100;
  font-family: GillSans;
}
.product-description {
  color: #1A5184;
  font-size: 26px;
  font-family: GillSans;
}

.pick-to-cart-btn {
  background-color: #22ade4;
  text-align: center;
  padding-top: 3px;
  width: 150px;
  height:30px;
}

.pick-to-cart-btn a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


#suggested-product-header {
  color: #1A5184;
}

@media (min-width: 992px) {
  #product-detail {
    padding-left: 70px;
  }

  .product-price {
    margin-top: 70px;
  }
}
