@import url("category.css");
@import url("hamburger-menu.css");
@import url("index.css");
@import url("index-responsive.css");


/* Overwrite Bootstrap*/

a:hover {
  color:red;
  text-decoration: none;
}

.btn-info {
  background-color: #23AEE1;
}

.img-responsive {
  display: inline;
}

.policy {
  color: rgb(27, 117, 188);
}
